/* RESET */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* GENERAL */

.body-container {
    margin: 0, auto;
}

.container-full {
    width: 100%;
    margin: 0 auto;
    background-color: bisque;

}

.small-container {
    width: 900px;
    margin: 0 auto;
    
}

.info {
    display: flex;
}

.small-info {
    width: 30%;
}

.big-info {
    width: 70%;
}

img {
    width: 100%;
}
a {
    text-decoration: none;
    color: black;
}
.blue-buttons {
    background-color: rgb(17, 115, 254);
    color: white;
    padding: 8px;
    border: none;
}

/* HEADER */
header {
    margin-bottom: 80px;

}

.main-nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
    vertical-align: middle;
    padding: 5px 15px;
}
.header-left, .header-right {
    display: flex;
    align-items: center;
}

#logo {
    width: 100px;
}

.header-buttons {
    background-color: transparent;
    color: rgb(128, 128, 128);
    border: none;
    padding: 10px;
}

.container-normal {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(156, 217, 248);
    display: flex;
    justify-content: center;
    align-items: center ;
}

.jumbotrom {
    width: 1000px;
    position: relative;
    top: 80px;
}

h1 {
    margin-bottom: 25px;
}



/* MAIN */
.container-screen {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
}

h2, p {
    margin-bottom: 25px;
}

.col-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.main-my-col {
    width: calc(100% / 4);
    margin: 50px 15px;
    border: 1px black solid;
    display: block;
}

.special-col {
    width: 100%;
}

.plan-header {
    text-align: center;
    border-bottom: 1px black solid;
}

.plan-body {
    margin-top: 20px;
    display: block;
}

.info-gap {
    padding: 50px;
}
.trasparent-button {
    background-color: transparent;
    border: 1px black solid;
    padding: 10px;
}

h3 {
    margin: 20px 0px;
}
.main-six-col {
    width: calc(100% / 3);
    padding: 20px;
}
#special-link {
    color: blue;
    text-decoration: underline;
    
}

.brands-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.square-brands {
    width: calc(100% / 3);
    height: calc(100vw /3);
    display: flex;
    flex-wrap: wrap;  
}
.brands {
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.uno {
    background-color: rgb(173, 254, 173); 
}
.due {
    background-color: rgb(147, 9, 9);
}
.tre {
    background-color: lightblue;
}
.quattro {
    background-color: red;
}



/* FOOTER */
.footer-container {
    width: 100%;
    height: 300px;
    background-color: black;
}
.footer-container-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.footer-my-col {
    width: calc(100% / 5);
    color: white;     
}
li {
    display: inline-block;
}
.white-list {
    color: white;
}
.footer-container-bottom {
    padding: 50px;
}
.footer-language {
    color: white;
}