/* RESET */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* GENERAL */

.body-container {
    margin: 0, auto;
}

.container-full {
    width: 100%;
    margin: 0 auto;
}

.small-container {
    width: 900px;
    margin: 0 auto;
}

.info {
    display: flex;
}

.small-info {
    width: 30%;
}

.big-info {
    width: 70%;
}

img {
    width: 100%;
}
a {
    text-decoration: none;
    color: black;
}
.blue-buttons {
    background-color: rgb(17, 115, 254);
    color: white;
    padding: 8px;
    border: none;
}

hr {
    width: 70px;
    margin: 40px 0px;
}

/* HEADER */
header {
    margin-bottom: 80px;
}

.main-nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    padding: 5px 15px;
}
.header-left, .header-right {
    display: flex;
    align-items: center;
}

#logo {
    width: 100px;
}

.header-buttons {
    background-color: transparent;
    color: rgb(128, 128, 128);
    border: none;
    padding: 10px;
}

.container-normal {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(156, 217, 248);
    display: flex;
    justify-content: center;
    align-items: center ;
}

.jumbotrom {
    width: 1000px;
    position: relative;
    top: 80px;
}

h1 {
    margin-bottom: 25px;
}
.white-button {
    background-color: white;
    border: 1px black solid;
    padding: 10px;
}


/* MAIN */
.container-screen {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
}

h2, p {
    margin-bottom: 40px;
}

.col-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.main-my-col {
    width: calc(100% / 4);
    margin: 50px 15px;
    border: 1px black solid;
    display: block;
}

.special-col {
    width: 100%;
}

.plan-header {
    text-align: center;
    border-bottom: 1px black solid;
}

.plan-body {
    padding: 20px;
}
.fa-ul li {
    margin-bottom: 20px;
}
.acquista-ora {
    margin-top: 30px;
}

.info-gap {
    padding: 50px;
}

h3 {
    margin: 70px 0px;
}
.main-six-col {
    width: calc(100% / 3);
    padding: 20px;
}
#special-link {
    color: blue;
    text-decoration: underline;  
}

.brands-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.square-brands {
    width: calc(100% / 3);
    height: calc(100vw /3);
    display: flex;
    flex-wrap: wrap;  
}
.brands {
    width: 50%; 
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.middle-brand {
    padding: 50px;
}

#middle-brand-size {
    width: 200px;
}
.uno {
    background-color: rgb(173, 254, 173); 
}
.due {
    background-color: rgb(147, 9, 9);
}
.tre {
    background-color: lightblue;
}
.quattro {
    background-color: red;
}
.cinque {
    background-color: rgb(88, 181, 221);
}
.sei {
    background-color: blue;
}
.sette {
    background-color: yellow;
}

.container-azzurro {
    background-color: rgb(131, 202, 232);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}
.titolo {
    color: rgb(142, 34, 34);
    
}

.small-container h2 {
    margin: 70px 0px;
}

.faq-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-top: 1px black solid;
    padding: 20px
}

.small-container :last-child {
    margin-bottom: 1px black solidi;
}



/* FOOTER */
.footer-container {
    width: 100%;
    height: 400px;
    background-color: black;
}
.footer-container-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 90px
}
.footer-my-col {
    width: calc(100% / 5);
    color: white;
    flex-wrap: wrap; 
}
.white-list {
    color: white;
}
.footer-container-bottom {
    padding: 50px;    
}
.footer-language {
    color: white;
    position: relative;
    left: 0;
}