/* RESET */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* GENERAL */

.body-container {
        margin: 0, auto;
}

img {
    width: 100%;
}
a {
    text-decoration: none;
    color: black;
}
.blue-buttons {
    background-color: rgb(17, 115, 254);
    color: white;
    padding: 5px;
    border: none;
    margin-bottom: 25px;
}

/* HEADER */
.header-top {
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
    align-items: center
}
#logo {
    width: 100px;
    vertical-align: middle;
}
.header-buttons {
    background-color: transparent;
    color: rgb(128, 128, 128);
    border: none;
    padding: 10px;
}

.header-bottom {
    width: 100%;
    height: 500px;
    background-color: rgb(156, 217, 248);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-bottom-container {
    width: 50%;
    display: flex;  
    flex-wrap: wrap;
    position: relative;
}
h1 {
    margin-bottom: 25px;
}
.header-bottom-info-container {
    width: 25%;
}
.header-bottom-img-container {
    width: 75%;
    
}
img { 
    width: 100%;
}


/* MAIN */
.container-screen {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
}
.main-container {
    width: 80%;
    background-color: pink;
}
h2, p {
    margin-bottom: 25px;
}
.col-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.main-my-col {
    width: calc(100% / 4);
    margin: 50px 15px;
    padding: 10px;
    border: 1px black solid;
    display: block;
    
}
.col-user {
    text-align: center;
    border-bottom: 1px black solid;
}
.info-my-col {
    margin-top: 20px;
    display: block;
    
}


/* FOOTER */
.footer-container {
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer-my-col {
    width: calc(100% / 5);
    background-color: aquamarine; 
    color: white; 
}
li {
    text-decoration: none;
}

hr {
    width: 5%;
    position: absolute;
    left: 50px;
    bottom: 30px;
}
.footer-language {
    color: white;
    display: flex;
    gap: 10px;
    
}